<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container text-center" style="margin-top: 15%;"> 
       <div class="col-12">
        <div class="row" style="background-color: #ccc;">
            <div class="col-1" style="border: 1px solid #cc1;">J</div>
            <div class="col">
                <div class="row" style="background-color: #ccc; border: 1px solid #cc1;">
                    <div class="col-sm-12 col-lg-3 col-md-1" >E</div>
                    <div class="col-sm-12 col-lg-3 col-md-1">R</div>
                    <div class="col-sm-12 col-lg-3 col-md-1">O</div>
                    <div class="col-sm-12 col-lg-3 col-md-1">N</div>
                    <div class="col-sm-12 col-lg-3 col-md-1">I</div>
                    <div class="col-sm-12 col-lg-3 col-md-1">M</div>
                    <div class="col-sm-12 col-lg-3 col-md-1">O</div>
                </div>
            </div>
        </div>
        <div class="row"><div class="col"><div class="div"></div></div></div>
        <div class="row">
            <div class="col-1" style="background-color: #c98; border:1px solid #cc1;">M</div>
            <div class="col">
                <div class="row" style="background-color: #c98; ; border: 1px solid #c56;">
                    <div class="col-sm-12 col-lg-3 col-md-1">U</div>
                    <div class="col-sm-12 col-lg-3 col-md-1">R</div>
                    <div class="col-sm-12 col-lg-3 col-md-1">I</div>
                    <div class="col-sm-12 col-lg-3 col-md-1">L</div>
                    <div class="col-sm-12 col-lg-3 col-md-1">L</div>
                    <div class="col-sm-12 col-lg-3 col-md-1">O</div>
                </div>
            </div>
        </div>

        
       </div>
    </div>
</body>
</html>